body {
  /* background-color: blueviolet; */
}

/* .circle {
  width: 75px;
  height: 75px;
  border: 7px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle:hover {
  border: 7px solid red;
}

.circle:active {
  border: 7px solid blue;
} */
.favorites-item {
  box-sizing: border-box;
  margin-bottom: 30px;
}

.favorites-image {
  padding: 24px;
  background-color: #fefefe;
  border: 16px solid #ffe550;

  border-radius: 50%;
}

.favorites-image:hover,
.favorites-image:focus {
  border: 16px solid #bbf330;
}

.favorites-image:active {
  border: 16px solid blue;
}
